.explanationBlock {
  border: 1px solid var(--light-text);
  border-radius: 25px;
  padding: 20px;
  margin: 30px;
}

@media (min-width: 1024px) {
  .explanationParent {
    width: 964px;
    margin: 30px auto;
  }
}

.explanationBlock > p {
  text-align: justify;
}
