p {
  line-height: 2;
}

a {
  color: rgb(var(--main-blue-rgb));
}

a:hover {
  color: var(--highlight-blue);
}

input,
button {
  font-size: 0.9rem;
  padding: 6px;
  margin: 3px auto;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: normal;
  border: none;
}

button:disabled {
  background-color: rgb(170, 170, 170);
  color: rgb(80, 80, 80);
}

button:enabled:hover {
  background-color: var(--highlight-blue);
  color: black;
}

button:enabled:active {
  transform: scale(0.9);
}

form > * {
  margin-top: 10px;
  margin-bottom: 10px;
}

form * {
  margin-left: 5px;
  margin-right: 5px;
}

code {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid var(--light-text);
  padding: 5px;
  border-radius: 5px;
}

hr {
  border: var(--ballot-border);
  margin: 20px auto;
  width: 95%;
}
