:root {
  --dark-background: rgb(40, 40, 40);
  --light-text: white;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
  background-color: var(--dark-background);
  color: var(--light-text);
  text-align: center;
}
