:root {
  --dark-gray1: rgb(30, 30, 30);
  --dark-gray2: rgb(55, 55, 55);
  --light-text: white;
  --main-blue-rgb: 0, 191, 255; /* deepskyblue */
  --highlight-blue: aqua;
  --ballot-border: 1.5px dashed white;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--dark-gray1);
  color: var(--light-text);
  text-align: center;
  margin: 0px;
}
